[submodule "public/docs/NKBIPs"]
	path = public/docs/NKBIPs
	url = https://github.com/patrickulrich/NKBIPs.git
	branch = main
[submodule "public/docs/blossom"]
	path = public/docs/blossom
	url = https://github.com/hzrd149/blossom.git
	branch = master
[submodule "public/docs/market-spec"]
	path = public/docs/market-spec
	url = https://github.com/GammaMarkets/market-spec.git
	branch = main
[submodule "public/docs/nips"]
	path = public/docs/nips
	url = https://github.com/patrickulrich/nips.git
	branch = master
[submodule "public/docs/nuts"]
	path = public/docs/nuts
	url = https://github.com/cashubtc/nuts.git
	branch = main
